.burger {
  position: relative;
  size: $s*3;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  transition: all 0.15s linear;

  &:focus {
    outline: 0;
  }

  &__box {
    position: absolute;
    display: inline-block;
    size: $s;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &__inner,
  &__inner::before,
  &__inner::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $gray-600;
    transition: transform 0.15s ease;
  }

  &__inner {
    // display: block;
    top: 50%;
    margin-top: -2px;
    transition: all 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before,
    &::after {
      display: block;
      content: '';
    }

    &::before {
      top: -8px;
      transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    }

    &::after {
      bottom: -8px;
      transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &--morph {
    .burger__inner {
      transform: rotate(45deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease, opacity 0.1s 0.14s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}