.mobile {
  box: horizontal space-between wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0 $h;
  background-color: $white;
  border-bottom: 1px solid $line;

  @include from(lg) {
    display: none;
  }

  .logo {
    box: vertical middle center;
    color: $gray-600;
    size: $s*3;

    svg {
      size: $s*1.75;
    }
  }

  &__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: $s*5 $t $s*3;
    background-color: $gray-100;
    transform: translateY(-25%);
    transition: all 0.125s ease;

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}